<a href="https://colab.research.google.com/github/neetathune/EDA/blob/main/Dataset_EDA_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import packages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [ ]:
data = pd.read_csv('pandas_demo.csv')

In [ ]:
data.head()

,first_name,last_name,email,gender,employer,designation,university,personal_phone,bank,birth_year,years_employed
0,Otha,Gjerde,ogjerde0@biglobe.ne.jp,Female,Zomato,NaN,Sang Myung University,132-421-9138,HDFC,1970,24.0
1,Yance,Barnsdale,ybarnsdale1@reference.com,Male,Goldman Sachs,Social Worker,Fachhochschule Ravensburg-Weingarten,492-125-1131,SBI,1960,32.0
2,Lazarus,MacNish,lmacnish2@altervista.org,Male,TCS,Administrative Officer,"California State University, Channel Islands",235-492-4252,ICICI,1970,24.0
3,Monroe,Gwinnel,mgwinnel3@booking.com,Male,Goldman Sachs,Technical Writer,St. Mary-of-the-Woods College,NaN,ICICI,1982,14.4
4,Gaspard,Gullivent,ggullivent4@wikia.com,Male,Infosys,Clinical Specialist,"Islamic Azad University, Quchan",232-527-4054,ICICI,1998,1.6

In [ ]:
data.shape

(1000, 11)

In [ ]:
"""
1. Preprocessing Steps
    a. Check NaN values and imputation
    b. Data Sanitation
2. use of for loops on column value manupilation/ inbuilt apply/lambda function
3. Use of def function in column value manupilation
4. Groupby
5. Pivot_table
6. Merge operation
7. How to use and interperete Graphs
    a. linear graph
    b. scatter plots
    c. pie Plot
    d. box plot
"""

# Preprocessing

##  Info of the data

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   first_name      1000 non-null   object
 1   last_name       1000 non-null   object
 2   email           1000 non-null   object
 3   gender          1000 non-null   object
 4   employer        1000 non-null   object
 5   designation     939 non-null    object
 6   university      892 non-null    object
 7   personal_phone  783 non-null    object
 8   bank            1000 non-null   object
 9   birth_year      1000 non-null   int64
 10  years_employed  1000 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 86.1+ KB

In [ ]:
data.describe()

        birth_year  years_employed
count  1000.000000     1000.000000
mean   1978.382000       17.294400
std      11.336604        9.069283
min    1960.000000        1.600000
25%    1968.750000        9.600000
50%    1978.000000       17.600000
75%    1988.000000       25.000000
max    1998.000000       32.000000

In [ ]:
data['designation'].isnull().value_counts()

False    939
True      61
Name: designation, dtype: int64

In [ ]:
data[data['designation'].isnull()]['employer'].value_counts()

Goldman Sachs    17
Zomato           12
Google           11
Flipkart          9
Infosys           7
TCS               5
Name: employer, dtype: int64

## Simple fillna

In [ ]:
# Hypotheis that the role is entry level and thats why the designation is not available'
data['new_designation'] = data['designation'].fillna('entry_level_role')

In [ ]:
data.info()

## using for loop on multiple columns

In [ ]:
nan_employer_roles = {'Goldman Sachs':'banking_lvl1',
                     'Zomato':'delivery_services',
                     'Google':'developer_role1',
                     'Flipkart':'logistics',
                     'Infosys':'junior_associate',
                     'TCS':'junior_consultant'}

 val!=val condition must be true if val==np.nan,float(nan)

In [ ]:
# val = float('NaN')

# val

# val!=val

In [ ]:
res_list = []
for d in zip(data['designation'],data['employer']):
    print(d)
    if d[0]!=d[0]:
        res_list.append(nan_employer_roles[d[1]])
    else:
        res_list.append(d[0])
    print(res_list[-1])
    print('####')

In [ ]:
# data['designation'] = np.array(res_list)

In [ ]:
data['new_designation_2'] = np.array(res_list)

In [ ]:
data['new_designation_2']

In [ ]:
data.info()

## apply on sinle column

In [ ]:
data['designation'].apply(lambda x:'entry_level_role' if x!=x else x)

## apply on multi column

In [ ]:
def fill_nan_desig_employer(x,y): ## x == employer, y = designation
    if y!=y:
        return nan_employer_roles[x]
    else:
        return y

In [ ]:
f = lambda x,y:fill_nan_desig_employer(x,y)

In [ ]:
data.apply(lambda x:fill_nan_desig_employer(x.employer,x.designation),axis = 1)

In [ ]:
data.head()

In [ ]:
# Replace NaN in personal_phone by
"""
1. 000-000-0000
2. Condition on gender and give me values (000-000-0000 for Female and 111-111-1111 for male)
3. condition on bank and get the values (000-000-0000, 111-111-1111, 222)
"""

## Type Casting and Data Sanitation

In [ ]:
data['new_personal_phone'] = data['personal_phone'].fillna('000-000-0000')

In [ ]:
data['new_personal_phone']

In [ ]:
# Replace the hypen '-' from the personal_phone

In [ ]:
data['new_personal_phone'].apply(lambda x: x.replace('-',''))

In [ ]:
data['university']

In [ ]:
dir('str')

In [ ]:
def get_valid_string(x):
    res = ''
    for c in x:
#         print(c)
        if not c.isalpha():
            if c==' ':
                res+='_'
            else:
                res+=''
        else:
            res+=c
    return res

In [ ]:
# [('_' if c==' ' else '') if not c.isalpha() else c for c in str1]

In [ ]:
def get_valid_str_list_comp(x):
    res = ''.join([('_' if c==' ' else '') if not c.isalpha() else c for c in x])
    return res

In [ ]:
str1 = 'he#llo% bat&*)ch^%'

In [ ]:
get_valid_string(str1)

In [ ]:
get_valid_str_list_comp(str1)

In [ ]:
data['university'].fillna('',inplace = True)

In [ ]:
data['university'].apply(lambda x:get_valid_string(x))

## Groupby

In [ ]:
# certain value needs to be aggregated then groupbe can be used

In [ ]:
data.info()

In [ ]:
data[['employer','years_employed']].groupby(by=['employer'],as_index = False).mean()

In [ ]:
data[['birth_year','years_employed']].groupby(by=['birth_year'],as_index = False).mean()

## Pivot

In [ ]:
# 1. Index: what aggregation level you want, 2. column: aggregation with respect to what values, 3. Values: what value you want to agg

In [ ]:
data[['employer','birth_year','years_employed',]].pivot_table(index = ['employer'],columns = ['birth_year'],values=['years_employed'],aggfunc = np.mean)